In [2]:
# Core scientific and data libraries
import pandas as pd
import sqlalchemy

In [20]:
DATABASE_URL = 'postgresql://postgres:password@localhost:5432/seaice'
engine = sqlalchemy.create_engine(DATABASE_URL)

In [21]:
df = pd.read_csv('../data/raw/tables/N_seaice_extent_daily_v3.0.csv', skiprows=2, names=['year', 'month', 'day', 'extent', 'missing', 'source'])

df.head()

,year,month,day,extent,missing,source
0,1978,10,26,10.231,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_19...
1,1978,10,28,10.420,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_19...
2,1978,10,30,10.557,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_19...
3,1978,11,1,10.670,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.11.01/nt_19...
4,1978,11,3,10.777,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.11.03/nt_19...

In [22]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])

df['region'] = 'pan_arctic'

df = df[[
    'date',
    'region',
'extent']].rename(columns={'extent': 'extent_mkm2'})

In [23]:
df.to_sql('ice_extent', engine, if_exists='replace', index=False)

421

In [27]:
df = pd.read_csv('../data/raw/tables/N_seaice_extent_climatology_1981-2010_v3.0.csv', header=1, names=['dayofyear', 'avg_extent', 'std_dev', 'p10', 'p25', 'p50', 'p75', 'p90'])

df.to_sql('ice_extent_climatology', engine, if_exists='replace', index=False)

366

In [54]:
excel_path = "../data/raw/tables/N_Sea_Ice_Index_Regional_Daily_Data_G02135_v4.0.xlsx"

xls = pd.ExcelFile(excel_path)

extent_sheets = [s for s in xls.sheet_names if s.endswith("Extent-km^2")]

In [ ]:
def clean_regional_extent_sheets(excel_path):
    """Clean regional extent data from NSIDC Excel file and normalize units.
    
    Converts extent from km² (as stored in Excel) to million km² (Mkm²)
    to match the pan-arctic table units.
    """
    xls = pd.ExcelFile(excel_path)
    extent_sheets = [s for s in xls.sheet_names if s.endswith("Extent-km^2")]
    print(extent_sheets)
    final = pd.DataFrame()

    for extent_sheet in extent_sheets:
        df = pd.read_excel(excel_path, sheet_name=extent_sheet, header=0)
        df['month'] = df['month'].ffill()
        df["month"] = pd.to_datetime(df["month"], format="%B").dt.month
        df["day"] = pd.to_numeric(df["day"], errors="coerce")
        long = df.melt(
            id_vars=["month", "day"],
            var_name="year",
            value_name="extent_km2"
        )
        long["year"] = long["year"].astype(int)

        long["date"] = pd.to_datetime(
            dict(year=long["year"], month=long["month"], day=long["day"]),
            errors="coerce"
        )
        long = long.dropna(subset=["date", "extent_km2"])
        
        long["extent_mkm2"] = long["extent_km2"] / 1_000_000
        
        long["region"] = extent_sheet.split('-')[0]

        final = pd.concat([final, long])
    return final

In [67]:
df = clean_regional_extent_sheets(excel_path)

['Baffin-Extent-km^2', 'Barents-Extent-km^2', 'Beaufort-Extent-km^2', 'Bering-Extent-km^2', 'CanadianArchipelago-Extent-km^2', 'Central-Arctic-Extent-km^2', 'Chukchi-Extent-km^2', 'East-Siberian-Extent-km^2', 'Greenland-Extent-km^2', 'Hudson-Extent-km^2', 'Kara-Extent-km^2', 'Laptev-Extent-km^2', 'Okhotsk-Extent-km^2', 'St-Lawrence-Extent-km^2']

In [ ]:
df[['date', 'extent_mkm2', 'region']].to_sql(
    'ice_extent_regional_daily', 
    engine, 
    if_exists='replace',
    index=False
)