In [2]:
import os

import sqlalchemy
import pandas as pd
import numpy as np
import psycopg
from pydantic.v1.env_settings import read_env_file

from dotenv import load_dotenv
import setup_env

In [3]:
load_dotenv('../.env')

True

In [4]:
DB_URL = os.environ.get("DB_URL")

In [5]:
engine = sqlalchemy.create_engine(DB_URL, pool_pre_ping=True)

In [6]:
df_1 = pd.read_csv('../data/raw/N_seaice_extent_daily_v3.0.csv', skiprows=2, names=['Year', 'Month', 'Day', 'Extent', 'Missing', 'Source'])
df_1.head()

,Year,Month,Day,Extent,Missing,Source
0,1978,10,26,10.231,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.26/nt_19...
1,1978,10,28,10.420,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.28/nt_19...
2,1978,10,30,10.557,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.10.30/nt_19...
3,1978,11,1,10.670,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.11.01/nt_19...
4,1978,11,3,10.777,0.0,['/ecs/DP1/PM/NSIDC-0051.001/1978.11.03/nt_19...

In [7]:
df_1['Date'] = pd.to_datetime(df_1[['Year', 'Month', 'Day']])
df_extent_prepared = df_1[['Date', 'Extent', 'Missing']]

In [8]:
df_extent_prepared.to_sql(name = 'seaice_extent', con = engine, if_exists = 'replace', index = False)

-1

In [12]:
df_2 = pd.read_csv("../data/raw/N_seaice_extent_climatology_1981-2010_v3.0.csv", header=1)

In [13]:
df_2.to_sql(name = 'seaice_extent_climatology', con = engine, if_exists = 'replace', index = False)

-1